{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Clean Blog</h1>
          <span class="subheading">This is what this is; this is who we are.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Clean Blog is by ASTTT Co. The ASTTT Co. has made other beautiful
          just like this one. If you'd like to support us, send in emails
          by going to the Contact section, make posts, and comment. We
          thank you for your love of our creations.
        </p>
        <p>
          We also have a couple tips that you'll want to read. Here they are:
          "Tip #1: Make a user account to have a better experience.",
          "Tip #2: To make a post, go to /new, and share cool things.",
          "Tip #3: Edit a post by going to /edit/{post}, and stay cool.",
          "Tip #4: Delete a post, only if you really need to, at /delete/{post}."
        </p>
        <p>
          This website is for your peace of mind, so you can keep up with the
          news without having to scroll through a million articles to find what
          you want. Happy blogging and remember to stay in touch!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
